In [200]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import datetime
from itertools import combinations
import os

In [201]:
print(os.getcwd())
data = pd.read_csv('movie_bd_v5.csv')

data.info()

C:\Users\marchenkova.as
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [202]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [203]:
#Функция преобразования dataframe: разделение на строки по значениям кортежей в ячейках
def split_data(dfin, field):
    #получаем из текстового значения с разделителями из ячейки кортеж
    dfin[field]=dfin[field].str.split('|')
    #Преобразуем dataframe, копируя строки для каждого значения из списка в ячейке  
    dfin=dfin.explode(field)
    return dfin

 
# создадим словарь для ответов
answers = {}
#Дополняем dataframe колонкой profit (прибыль)
data['profit']=data['revenue']-data['budget']
#преобразуем графу с датой из строки в формат datetime
data['release_date']=data['release_date'].apply(lambda x: datetime.strptime(x,'%m/%d/%Y'))
#месяцы лета
summer=[6,7,8]
#месяцы зимы
winter=[12,1,2]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [204]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
#+"

In [272]:
# тут пишем ваш код для решения данного вопроса:
answer=data.iloc[np.argmax(data['budget']),3]
answer
#+

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [206]:
# думаю логику работы с этим словарем вы уже поняли, 
# поэтому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111) '
#+

In [273]:
answer=data.iloc[np.argmax(data['runtime']),3]
answer
#+

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [208]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
#+

In [275]:
answer=data.iloc[np.argmin(data['runtime']),3]
answer

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [210]:
answers['4'] = 110

#+

In [280]:
answer=data['runtime'].mean()
round(answer)

110

# 5. Каково медианное значение длительности фильмов?

In [212]:
answers['5'] =107
#+

In [283]:
answer=data['runtime'].median()
round(answer)

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [214]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] ='Avatar (tt0499549)'

In [285]:
#1
df=data.copy()
answer = df.iloc[np.argmax(data['revenue']-data['budget']),3]
answer
#+

'Avatar'

In [287]:
#2
df=data.copy()
answer=df.iloc[np.argmax(data['profit']),3]
answer
#+

'Avatar'

# 7. Какой фильм самый убыточный?

In [217]:
answers['7'] = 'The Lone Ranger (tt1210819)'
#+

In [289]:
df=data.copy()
answer=df.iloc[np.argmin(data['profit']),3]
answer

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [219]:
answers['8']=1478
#+

In [291]:
df=data.copy()
answer=df.loc[data['revenue']>data['budget']]['imdb_id'].count()
answer

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [221]:
answers['9']='The Dark Knight (tt0468569) '
#+

In [299]:
df=data[data['release_year']==2008]
answer=df.loc[df['revenue']==df['revenue'].max(),'original_title']
answer

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [223]:
answers['10'] = 'The Lone Ranger (tt1210819) '
#+

In [300]:
#Фильтр по году релиза
df=data[(data['release_year']>=2012) & (data['release_year']<=2014)]
#минимальное значение прибыли
answer=df.loc[df['profit']==df['profit'].min(),'original_title']
answer

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [225]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'

In [336]:
df=data.copy()
#получаем в ячейке данных кортеж
df['genres']=df['genres'].str.split('|')
#Преобразуем dataframe, копируя строки для каждого значения из списка в ячейке  
df=df.explode('genres')
#Группировка & калькуляция
ans=df.groupby(['genres'])['original_title'].count().sort_values(ascending=False)
answer=ans.index[0]
answer

'Drama'

In [337]:
#То же самое, с использованием функции
df=data.copy()
df=split_data(df, 'genres')
ans=df.groupby(['genres'])['original_title'].count().sort_values(ascending=False)
answer=ans.index[0]
answer

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [228]:
answers['12']='Drama'

In [338]:
df=data.copy()
#фильтр по: прибыль > 0
df=df[df['profit']>0]
df=split_data(df, 'genres')
df=df.groupby(['genres'])['original_title'].count().sort_values(ascending=False)
answer=df.index[0]
answer

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [230]:
answers['13']='Peter Jackson'

In [339]:
df=data.copy()
df=split_data(df, 'director')
df=df.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
answer=df.index[0]
answer

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [232]:
answers['14']='Robert Rodriguez '

In [340]:
df=data.copy()
#фиьтр по стилю Action
df=df[df.genres.str.contains("Action",na = False)]
df=split_data(df, 'director')
df=df.groupby(['director'])['original_title'].count().sort_values(ascending=False)
answer=df.index[0]
answer

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [234]:
answers['15']='Chris Hemsworth'

In [357]:
df=data.copy()
#фильтр по году релиза
df=df[df['release_year']==2012]
#Делим набор данных на строки по актеру
df=split_data(df, 'cast')
df=df.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)
answer=df.index[0]
answer

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [236]:
answers['16']='Matt Damon'

In [358]:
df=data.copy()
#фильтр по условию задачи
df=df[df['budget']>df['budget'].mean()]
df=split_data(df, 'cast')
df=df.groupby(['cast'])['original_title'].count().sort_values(ascending=False)
answer=df.index[0]
answer

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [238]:
answers['17']='Action'

In [359]:
df=data.copy()
#преобразование df по актеру
df=split_data(df, 'cast')
#фильтр по условию задачи
df=df[df['cast']=='Nicolas Cage']
#преобразование 2 по жанру
df=split_data(df, 'genres')
df=df.groupby(['genres'])['original_title'].count().sort_values(ascending=False)
answer=df.index[0]
answer

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [240]:
answers['18']='K-19: The Widowmaker (tt0267626)'

In [361]:
df=data.copy()
df=split_data(df, 'production_companies')
df=df[df['production_companies']=='Paramount Pictures'].sort_values('profit',ascending=True)
answer=df.iloc[0]['original_title']
answer

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [242]:
answers['19']=2015

In [362]:
df=data.copy()
df=df.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
answer=df.index[0]
answer

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [244]:
answers['20']=2014

In [363]:
df=data.copy()
df=split_data(df, 'production_companies')
#фильтр по условию задачи
df=df[df.production_companies.str.contains('Warner Bros',na = False)]
df=df.groupby('release_year').sum().sort_values('profit',ascending=False)
answer=df.index[0]
answer

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [246]:
answers['21']='9-Сентябрь'

In [364]:
df=data.copy()
#Копируем столбец для последующей обработки 
df['release_mon']=df['release_date']
#получаем порядковый номер месяца
df['release_mon'] = df['release_mon'].map(lambda x: x.month)
df=df.groupby('release_mon').count().sort_values('original_title',ascending=False)
df=df.iloc[:,0:1]
answer=df.index[0]
answer

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [248]:
answers['22']=450

In [366]:
df=data.copy()
#Копируем столбец для последующей обработки 
df['release_mon']=df['release_date']
#получаем порядковый номер месяца
df['release_mon'] = df['release_mon'].map(lambda x: x.month)
df=df[df['release_mon'].isin(summer)]
answer=df.count()['release_date']
answer

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [250]:
answers['23']='Peter Jackson'

In [367]:
df=data.copy()

#Копируем столбец для последующей обработки 
df['release_mon']=df['release_date']
#получаем порядковый номер месяца
df['release_mon'] = df['release_mon'].map(lambda x: x.month)
#оставляем зимние месяцы
df=df[df['release_mon'].isin(winter)]
#делим df на строки по директору
df=split_data(df, 'director')

df=df.groupby(['director'])['original_title'].count().sort_values(ascending=False)

answer=df.index[0]
answer

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [252]:
answers['24']='Four By Two Productions'

In [368]:
df=data.copy()
#добавляем столбец с длиной строки наименвоания
df['len_title']=df['original_title'].apply(lambda x: len(x)) 
#делим на строки по наименованию студии
df=split_data(df, 'production_companies')
df=df.groupby('production_companies')['len_title'].mean().sort_values(ascending=False)
answer=df.index[0]
answer

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [254]:
answers['25']='Midnight Picture Show'

In [369]:
df=data.copy()
#добавляем столбец с количеством строк в описании 'overview'
df['len_ overview']=df['overview'].apply(lambda x: len(x.split())) 
df=split_data(df, 'production_companies')
df=df.groupby('production_companies')['len_ overview'].mean().sort_values(ascending=False)
answer=df.index[0]
answer

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [261]:
answers['26']='Inside Out, The Dark Knight, 12 Years a Slave '

In [371]:
df=data.copy()
#Добавляем столбец с отсечкой рейтинга 99% (можно использовать переменную, результат тот же)
df['rank_99']=df['vote_average'].copy()
df['rank_99']=df['rank_99'].quantile(.99)
#фильтруем данные по условию
df=df[df['vote_average']>df['rank_99']]
answer=df[['imdb_id','original_title','vote_average', 'rank_99']]  
answer

,imdb_id,original_title,vote_average,rank_99
9,tt2096673,Inside Out,8.0,7.8
34,tt3170832,Room,8.0,7.8
118,tt0816692,Interstellar,8.0,7.8
119,tt2015381,Guardians of the Galaxy,7.9,7.8
125,tt2084970,The Imitation Game,8.0,7.8
128,tt2267998,Gone Girl,7.9,7.8
138,tt2278388,The Grand Budapest Hotel,7.9,7.8
370,tt1375666,Inception,7.9,7.8
599,tt0468569,The Dark Knight,8.1,7.8
872,tt0253474,The Pianist,7.9,7.8
1081,tt0167260,The Lord of the Rings: The Return of the King,7.9,7.8
1183,tt0993846,The Wolf of Wall Street,7.9,7.8
1191,tt2024544,12 Years a Slave,7.9,7.8
1800,tt0209144,Memento,7.9,7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [263]:
answers['27']='Daniel Radcliffe & Rupert Grint '

In [373]:
df=data.copy()
#Делим строку с актерами в каждой ячейке на кортежи
df['cast']=df['cast'].str.split('|')
#Добавляем столбец для дальнейшей обработки
df['combinations'] = df['cast'].copy()
#Обрабатываем: ищем все возможные комбинации имен попарно в каждой ячейке с кортежами имен
df['combinations'] = df['combinations'].apply(lambda r: list(combinations(r, 2)))
#ajhvbhetv cgbcjr c комбинациями
nlist=df.combinations.sum()
type(nlist[0])
count_combination = Counter(nlist)
#Выделяем наиболее часто встречающиеся (первые 5)
answer=count_combination.most_common(5)
answer

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

# Submission

In [374]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111) ',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569) ',
 '10': 'The Lone Ranger (tt1210819) ',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez ',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': '9-Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave ',
 '27': 'Daniel Radcliffe & Rupert Grint '}

In [375]:
# и убедиться что ни чего не пропустил)
len(answers)

27