In [47]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from itertools import combinations
from scipy.stats import ttest_ind

pd.set_option('display.max_rows', 50) # показывать больше строк
pd.set_option('display.max_columns', 50) # показывать больше колонок

import os
df=[]

In [60]:
#def ttt:
#    return t

def outler(df,col_name):
    #column_name=str(col_name)
    outler_value=df.copy()
#квартили
    q=(np.quantile(df[col_name],[0.25,0.5,0.75],interpolation='midpoint'))

#Размах
    r=df[col_name].max()-df[col_name].min()

#Межквартильный размах
    iqr=q[2]-q[0]

#Стандартное отклонение
    st=np.std(df[col_name],ddof=1)

#Дисперсия
    d=np.var(df[col_name],ddof=1)

#границы выбросов 
    m1=q[0]-1.5*iqr
    m2=q[2]+1.5*iqr
    outler_value=outler_value.loc[ lambda x: x[col_name]<m1 or x[col_name]>m2]
    print(outler_value)
 #dfw.loc[(dfw.temp>up)]   
    return outler_value
#    df[lambda x: x['count'] > 15]

In [61]:
print(os.getcwd())
stud_math = pd.read_csv('stud_math.csv')
#cacao.columns=['bar_id','company','specific_origin','ref','review_date','cocoa_percent','company_location','rating','bean_type','broad_origin']
#cacao.drop(['bar_id'], inplace = True, axis = 1)
stud_math.info()
display(stud_math)
#возврат списка столцов с заданным типом
numbers_colmn_list=(stud_math.select_dtypes(include=[np.number])).columns.values.tolist()
#for column in numbers_colmn_list:
    

outler(stud_math,'age')

/Users/apple/Documents/skillfactory
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   school               395 non-null    object
 1   sex                  395 non-null    object
 2   age                  395 non-null    int64
 3   address              378 non-null    object
 4   famsize              368 non-null    object
 5   Pstatus              350 non-null    object
 6   Medu                 392 non-null    float64
 7   Fedu                 371 non-null    float64
 8   Mjob                 376 non-null    object
 9   Fjob                 359 non-null    object
 10  reason               378 non-null    object
 11  guardian             364 non-null    object
 12  traveltime           367 non-null    float64
 13  studytime            388 non-null    float64
 14  failures             373 non-null    float64
 15  schoolsup            386 non-null    object
 16  famsup               356 non-null    object
 17  paid                 355 non-null    object
 18  activities           381 non-null    object
 19  nursery              379 non-null    object
 20  studytime, granular  388 non-null    float64
 21  higher               375 non-null    object
 22  internet             361 non-null    object
 23  romantic             364 non-null    object
 24  famrel               368 non-null    float64
 25  freetime             384 non-null    float64
 26  goout                387 non-null    float64
 27  health               380 non-null    float64
 28  absences             383 non-null    float64
 29  score                389 non-null    float64
dtypes: float64(12), int64(1), object(17)
memory usage: 92.7+ KB

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,"studytime, granular",higher,internet,romantic,famrel,freetime,goout,health,absences,score
0,GP,F,18,U,NaN,A,4.0,4.0,at_home,teacher,course,mother,2.0,2.0,0.0,yes,no,no,no,yes,-6.0,yes,NaN,no,4.0,3.0,4.0,3.0,6.0,30.0
1,GP,F,17,U,GT3,NaN,1.0,1.0,at_home,other,course,father,1.0,2.0,0.0,no,yes,no,no,no,-6.0,yes,yes,no,5.0,3.0,3.0,3.0,4.0,30.0
2,GP,F,15,U,LE3,T,1.0,1.0,at_home,other,other,mother,1.0,2.0,3.0,yes,no,NaN,no,yes,-6.0,yes,yes,NaN,4.0,3.0,2.0,3.0,10.0,50.0
3,GP,F,15,U,GT3,T,4.0,2.0,health,NaN,home,mother,1.0,3.0,0.0,no,yes,yes,yes,yes,-9.0,yes,yes,yes,3.0,2.0,2.0,5.0,2.0,75.0
4,GP,F,16,U,GT3,T,3.0,3.0,other,other,home,father,1.0,2.0,0.0,no,yes,yes,no,yes,-6.0,yes,no,no,4.0,3.0,2.0,5.0,4.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2.0,2.0,services,services,course,NaN,1.0,2.0,2.0,no,yes,yes,no,yes,-6.0,yes,no,no,5.0,5.0,4.0,4.0,212.0,45.0
391,MS,M,17,U,LE3,T,3.0,1.0,services,services,course,mother,2.0,1.0,0.0,no,no,no,no,no,-3.0,yes,yes,no,2.0,4.0,5.0,2.0,3.0,80.0
392,MS,M,21,R,GT3,T,1.0,1.0,other,other,course,NaN,1.0,1.0,3.0,NaN,no,no,no,no,-3.0,NaN,no,no,5.0,5.0,3.0,3.0,3.0,35.0
393,MS,M,18,R,LE3,T,3.0,2.0,services,other,course,mother,3.0,1.0,0.0,no,no,no,NaN,no,-3.0,yes,yes,no,4.0,4.0,1.0,5.0,0.0,50.0
394,MS,M,19,U,LE3,T,1.0,1.0,other,at_home,NaN,father,1.0,1.0,0.0,NaN,no,no,no,yes,-3.0,yes,yes,no,3.0,2.0,3.0,5.0,5.0,45.0

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [40]:
Про заполнение пропусков:
http://www.machinelearning.ru/wiki/images/9/90/Kayumov_course_work_imputer_methods.pdf
https://ru.coursera.org/lecture/unsupervised-learning/obrabotka-propuskov-3mRlZ
    
Про типы переменных в Data Science:
https://towardsdatascience.com/variable-types-and-examples-cf436acaf769

Шпаргалка Markdown:
http://ilfire.ru/kompyutery/shpargalka-po-sintaksisu-markdown-markdaun-so-vsemi-samymi-populyarnymi-tegami/

SyntaxError: invalid syntax (<ipython-input-40-259884c1bbdd>, line 1)